.topbar {
    background-color:yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.vis {
    width: 60%;
    display: inline-block;
    justify-content: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

h1 {
    text-align: center;
}

