.topbar {
    background-color:yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.vis {
    display: block;
    margin: auto;
    padding: 20px;
    border-style: solid;
    border-color: #7e7e7e;
    border-width: 1px;
}

h1 {
    text-align: center;
}

