body{
    padding: 0;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-image: url();
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.vis {
    display: inline-block;
    padding: 20px;
    border-style: solid;
    border-color: #7e7e7e7b;
    border-width: 1px;
    border-radius: 15px;
}

.intro{
    display: inline-block;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 30;
    color:rgb(233, 233, 73);
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: black;
}

